---
import {Image} from 'astro:assets'
import appLogo from "../assets/logo.svg"
---

<div class="title-wrapper sl-flex astro-xj7phax6">
  <a href="/katmer" class="site-title sl-flex astro-3gjrqrfo">
    <Image alt="site-logo" height="36" src={appLogo}></Image>
  </a>
</div>
